body {
   /*  background-color: gray;
    color: white; */
}
textarea {
    min-height: 400px;
}

li {
    list-style: none;
}

.mail-container {
    display: flex;
    flex-direction: column;
}

.mail-container button {
    width: fit-content;
}

.mail_lists {
    padding-left: 0;
}

.box-mail {
    display: flex;
    padding: 10px 6px;
    /* border: 1px solid black; */
    border-bottom: 1px solid white;
    justify-content: space-between;
    cursor: pointer;
}

.sender_or_recipients {
    
    padding-right: 6px;
}

.timestamp {
    padding-right: 6px;
}

#send-mail {
    margin-top: 10px;
    margin-bottom: 10px
}

.btn:hover{
    background-color: #20c997;
    border-color: #20c997;
}

.btn-outline-primary {
    color: #20c997;
    border-color: #20c997;
}

.btn:active {
    background-color: #20c997;
    border-color: #20c997;
}

.btn-outline-primary:active {
    background-color: white;
}

.btn-sm:active {
    background-color: white;
}

.mailbox-button {
    background-color: transparent;
    color: #20c997;
}
  
.mailbox-button.active {
    background-color: #20c997;
    color: white;
  }