body {
    /* background-color: gray; */
}
textarea {
    min-height: 400px;
}

li {
    list-style: none;
}

.mail-container {
    display: flex;
    flex-direction: column;
}

.mail-container button {
    width: fit-content;
}

.box-mail {
    display: flex;
    padding: 6px 4px;
    border: 1px solid black;
    justify-content: space-between;
    cursor: pointer;
}

.sender {
    font-weight: 700;
    padding-right: 6px;
}

.subject {
    font-weight:500;
}

.timestamp {
    color: gray;
}